<% layout('layouts/boilerplate') %>
<div id="readList">
	<div class="row">
		<div class="col-lg-12">
			<div class="dropdown float-right mt-2 pt-1 mr-5 pr-4">
				<a class="dropdown-toggle langBtn tmGlow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>English</span>
				</a>
				<div class="menu dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="mx-4 langBtn tmGlow" href="http://www.trevmorin.ca/">Fran&#231;ais</a>
				</div>
			</div>
			<div class="d-none d-sm-block">
				<p class="sectionTitle mt-3 mb-3 ml-5">New Releases:</p>
			</div>
			<div class="d-block d-sm-none">
				<p class="sectionTitle mt-3 mb-3 ml-5">New <br>Releases:</p>
			</div>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div class="mx-3 pb-4">
				<p class="mb-2 pb-1 ml-2">
					<a class="swingText mdText tmGlow" href="http://www.swingcars.net/">Swingcars</a>
				</p>
				<p class="projectDesc"><em>Tour my social media app!</em></p>
				<p class="projectBody">If you've ever looked at someone else's vehicle and wondered how it feels to be behind the wheel, then this concept is exactly the type of social network that would enable you to trade vehicles with that stranger. In theory this service would allow you to connect with other drivers in your area to meet up at a specified location, exchange vehicles, and then go on a test drive. I created this vehicle swapping app using MongoDB, Express, and Node.</p>
			</div>
			<div class="mx-3 pb-4">
				<p class="mb-2 ml-2">
					<a class="tccText mdText tmGlow" href="http://www.currentcourant.com/">The Current Courant</a>
				</p>
				<p class="projectDesc"><em>Burn through my newspaper app!</em></p>
				<p class="projectBody">Here's something I conceived that's intended for anyone who's interested in writing fiction or who is tired of only reading serious news stories. It's a collection of satirical articles that all together make up a newspaper app where people can post their own work or leave their opinions on the existing chronicles. I built this app using MongoDB, Express, and Node.</p>
			</div>
			<div class="mx-3">
				<p class="mb-2 ml-2">
					<a class="slText tmGlow" href="http://www.superkloklabs.com/">Superklok Labs</a>
				</p>
				<p class="projectDesc"><em>Step through my corporate website!</em></p>
				<p class="projectBody">If you're hunting for a cloud distributed computing specialist then search no further! I host a cluster of a dozen Node apps containerized in Docker and orchestrated using Kubernetes. I'm also capable of containerizing legacy apps into multi-stage dockerfiles and docker-compose YAML files. Translating English apps into French is no problem for me. My business app was put together using Express and Node.</p>
			</div>
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-lg-12">
			<p class="sectionTitle ml-5 mb-3">Recently Updated:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div class="mx-3 pb-4">
				<p class="mb-2 pb-1 ml-2">
					<a class="jetText mdText tmGlow" href="http://www.jetwheelreel.com/">Jet Wheel Reel</a>
				</p>
				<p class="projectDesc"><em>Soar into my passion project!</em></p>
				<p class="projectBody">Herein lies all the necessary steps to correctly replace a wheel assembly on a Beechcraft 1900D private jet. All the instructions on this site are for reference use only and you should always consult the aircraft manufacturer's maintenance manual when applying these techniques in practice. This informative app was created with Express and Node.</p>
			</div>
			<div class="mx-3">
				<p class="mb-2 pb-1 ml-2">
					<a class="tmGlow" href="#"><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText mdText">.COM</span></a>
				</p>
				<p class="projectDesc"><em>Peruse my portfolio!</em></p>
				<p class="projectBody">This website you're currently visiting serves as a centralized hub to access all of my creations. Here you will have access to more information about each of my releases and you'll be able to find out about any of my projects that are currently in development. I built my personal portfolio app using Express and Node.</p>
			</div>
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-lg-12">
			<p class="sectionTitle ml-5 mb-3">Coming Soon:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div class="mx-3">
				<p class="mb-2 pb-1 ml-2">
					<a class="spText mdText tmGlow" href="http://www.sliderpiler.com/">Slider Piler</a>
				</p>
				<p class="projectDesc"><em>Check out my 90's diner app!</em></p>
				<p class="projectBody">This concept restaurant is a 90's heavy metal themed burger joint where the customer can either pick from the menu or tell it how it is and build their own custom burger. This app contains a create your own burger feature that's currently under development using MongoDB, Express, React, and Node.</p>
			</div>
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-lg-12">
			<p class="sectionTitle ml-5 mb-3">Contact Info:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div id="pageEnd" class="mx-3">
				<p class="mb-2 pb-1 ml-2">
					<a class="tmGlow" href="mailto:info@trevmorin.com"><span class="mdText">info@</span><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText mdText">.COM</span></a>
				</p>
				<p class="projectDesc"><em>Interested in my work?</em></p>
				<p class="projectBody">Please send me an email if you'd like more information about any of my projects. Contact me if you're interested in getting a member code or an author code in order to evaluate the features of Swingcars or The Current Courant. All of my projects are also available in French so feel free to reach out to me in French if you'd like.</p>
			</div>
		</div>
	</div>
</div>